h2 {
  margin-bottom: 2rem;
  font-size: 1.125rem;
  font-weight: 500;
}

article > p {
  max-width: 65ch;
  margin-bottom: 1rem;
  line-height: 1.8;
}

article > p > a {
  text-decoration: underline;
}
